/***************** INDEX *****************/
/*****************************************/


p{
  color:white;
  font-family: sans-serif;
}

body{ /*Css du body de toute les pages*/
  background-image: url(backgroundBody.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header{ /*Css du header des pages */
  background-image: url(imageheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 0 0;
}

header nav{ /*Css du header de toute les pages*/
  position: relative;
  background-color: rgba(255, 0, 0, 0.22);
  padding: 5px 0 15px 0;
  margin:0px 0px 0px 0px;
}

#recherche{
  position: relative;
  bottom:30px;
}

#bouton{
  position: relative;
  bottom:20px;
}


h1{ /*Css du titre du site*/
  text-align: center;
  margin:0 0 0 0;
  background-color: rgba(16, 142, 249, 0.42);
  height: 2em;
  padding:50px 0 0 0;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
}

h2{ /*Css des titre 2 de toutes les pages*/
  text-align: center;
  background-color: rgba(16, 249, 151, 0.32);
  position: relative;
  /*bottom: 43px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  width: 25%;
  left:37.5%;
  font-family: sans-serif;
}

h3{ /*Css des titre 3 de toutes les pages*/
  text-decoration: underline;
  text-align: center;
  background-color: rgba(16, 142, 249, 0.42);
  border-bottom: 2px solid black;
  font-family: sans-serif;
}

h4{ /*Css des titre 4 de toutes les pages*/
  text-align: center;
  padding: 0 0 20px 0;
  color:white;
  font-family: sans-serif;
  font-size: 20px;
  border-bottom: 2px solid black;
}

div{ /*Css des divs de l'index*/
  display: inline-block;
  width: 30%;
  margin: 20px 1.5% 20px 1%;
  background-color: rgba(255, 3, 3, 0.2);
  vertical-align: top;
}

.fiche:hover{
  box-shadow: 3px 3px 3px 4px black;
}

/*Css des images*/
div img{
  position: relative;
  float: left;
  width: 40%;
  height: 40%;
}

a div p{ /*Css du texte des fiches produits*/
  position: relative;
  display: inline;
  text-align: justify;
  font-family: sans-serif;
}

a{ /*Css des liens de toutes les pages*/
  color:white;
  text-decoration: none;
}


header nav a{ /*donne des marges pour espacer les liens du header*/
  margin:0 0 0 10%;

}

header nav a:hover{ /*modifie la couleur et la decoration des lien du header*/
  color:blue;
  text-decoration: underline;
}



header nav img{ /*règle la tailles des icones à coté des lien du header*/
  position: relative;
  top:10px;
  margin:0 5px 0 0;
  height: 30px;
  width: 30px;

}

footer{ /*Css du footer sur toutes les pages*/
  background-color: rgba(16, 142, 249, 0.42);
  padding:15px 0 15px 0;
}

footer nav img{ /*règle la tailles des icones à coté des lien du footer*/
  position: relative;
  top:10px;
  margin:0 5px 0 0;
  height: 30px;
  width: 30px;
}

footer nav a{ /*règle les différents nom de page*/
  margin:0 0 0 10%;
}

footer nav a:hover{ /*modifie la couleur et la decoration des lien du footer*/
  color:red;
  text-decoration: underline;
}


/*************** CSS PRESENTATION****************/
/************************************************/

.produits{ /*Css de presentation html de la navbar produit*/
  background-color: rgba(38, 151, 255, 0.33);
  position: relative;
}

.produits a:hover{ /*donne une decoration au texte et une couleur au lien de la navbar produits*/
  text-decoration: underline;
  color: purple;
}

.presentation{ /*Css de contenant des fiches produit sur presentation */
  width: 100%;
  background-color: rgba(118, 251, 251, 0.1);
  position: relative;
  height: 100%;
}

.Fichepresent{ /*Css de la class des fiches sur presentation*/
  display: inline-block;
  position: relative;
  width: 30%;
  height: 50%;
  vertical-align: top;
  margin:30px 0 30px 30px;
  padding: 0;

}

.Fichepresent:hover{ /*Donne une ombre au fiche produits*/
  box-shadow: 2px 2px 2px 2px black;
}

/* *{
  border:2px solid white;
}*/

/*Règle les images situées dans les fiches produits*/
.Fichepresent img{
  float: right;
  bottom:5px;
}


/*règle les textes des fiches produits*/
.Fichepresent p{
  position: relative;
  text-align: justify;
}


/*règle les différents nom de page*/
.produits{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid black;
}

.produits a{ /* règle les noms dans la navbar produits de la fiche produit*/
  margin-left:11%;
}

/*************************  Contact  ******************************/
/***************************************************************/

form{ /*Donne forme au formulaire de la page contact.html*/
  position: relative;
  left: 25%;
  background-color: rgba(177, 1, 230, 0.26);
  width: 50%;
  height: 50%;
}

section{ /*Modifie les sections*/
  font-family: sans-serif;
}

form section{ /* modifie les sections du formulaire*/
  width: 50%;
  margin:50px 10px 50px 10px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

form section textarea{/*Donne la taille de la zone de texte du formulaire*/
  position: relative;
  left:35%;
  width: 100%;
  height: 250px;
}

button{ /*Donne la forme du bouton du formulaire*/
  font-family: sans-serif;
  position: relative;
  border-radius: 1em;
  left:150px;

}



/************************ ITINERAIRE *************************/
/***********************************************************/

.blocPresentation{ /*modifie le bloc contenant les questions*/
  margin: 0 0 0 0;
  width: 100%;
  background-color: rgba(167, 172, 127, 0.42);
}


.blocPresentation .question{ /*modifie les questions*/
  left: 3%;
  display: block;
  position: relative;
  width: 90%;
  background-color: rgba(87, 82, 148, 0.54);
}

.blocPresentation .question p{ /*modifie la réponse aux questions*/
  font-family: sans-serif;
  margin:0 0 0 20%;
  font-size: 20px;
  width: 60%;
  padding:0 0 2em 0;
}

.map{ /*intégre google map dans la page html*/
  border:1px solid black;
  position: relative;
  left: 30%;
  display: inline;
  padding:0 0 0 0;
}

.blocitineraire{ /*intègle le bloc de la carte*/
  background-color: rgba(40, 198, 214, 0.11);
}

.blocitineraire p{ /*donne forme au texte dans le bloc de la carte*/
  width: 30%;
  position: relative;
  left:40%;
}

/*********************** GALERIE **********************/
/******************************************************/

.galerie{ /*Modifie le bloc contenant les images de la galerie*/
  background-color: rgba(238, 205, 83, 0.25);
}

li{ /*créer la galerie*/
  margin: 0 0 0 10px;
  display: inline-block;
}

ul li a img{ /*intègre les images dans la galerie*/
  margin: 30px 10px 30px 10px;
  height: 10em;
  width: 10em;
}

ul li a img:hover{ /*donne une ombre aux images de la galerie*/
  margin: 0 0 28px 0;
  box-shadow: 3px 3px 3px 4px black;

}
